body {
  background-color: #26292B;
  color: white;
  /* margin: 0; */
}

.body {
  margin-left: 2%;
}

/* Thomas's Renders */
.list-group-item {
  margin-left: 2%;
  border: 3px solid #2E3239;
  margin-top: 4%;
  margin-bottom: 4%;
  /* margin: 3%; */
}

/* Laura's Card Renders */
.card {
  margin-left: 2%;
  background-color: #EBF0FD;
}

.flex-item {
  border: 1px solid black;
  border-color: #2E3239;
  color: #A2B2EE;
}



.user-btn {
  width: 25%;
  background-color: #5F7ADB;
  color: #EBF0FD;
  border-radius: 30%;
}

#navbarContainer {
  border-color: #2E3239;
}
.overview-card {
  width: 30%;
  margin: 1%;
  color: black;
}

#user-card {
  background-color:#EBF0FD;
  font-weight: bold;
}

.btn-warning {
  width: 10rem;
  font-weight: bold;
  background-color: #5F7ADB;
  color: #EBF0FD;
}

.repo-fav {
  position: absolute;
  right: 0;
  top: 20%;
  background-color: #2E3239;
  color: goldenrod;
}

#package {
  margin-left: 2%;
  margin-bottom: 1%;
}

.packages-cards {
  width: 30%;
  margin: 1%;
  margin-left: 2%;
}

.cardContainer {
  margin-left: 2%;
}

.card-body {
  height: 75%;
  background-color: #EBF0FD;
}

#projectBoard {
  border-color: #2E3239;
}

#cardTitle {
  color: #A2B2EE;
  margin-left: 2%;
}

.text-area-labels {
  margin-left: 2%;
  color: #A2B2EE;
}

textarea {
  background-color: #EBF0FD;
}

.mb-3 {
  border-color: #2E3239;
}

h1 {
  margin-left: 2%;
}

/* Overview Form Submit Button */
#pin {
  margin-left: 2%;
  margin-bottom: 2%;
}

/* Create Repo Button */
#repo {
  margin-left: 2%;
}

/* Create Project Button */
#project {
  margin-left: 2%;
}

.flex {
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}

/* Original div layout template */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.fl {
  flex: 1;
  display: flex;
  flex-direction:  column;
  margin: 0 5px;
  margin-right: 10%;
  width: 90%;
  justify-content: space-between;
  color: #A2B2EE;
}

/* Not Sure If This is Used */
/* #flex-item {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
} */

/* .flex-item:not(:first-of-type) {
  margin: 2% 0 0;
} */
/* .sidebar {
  border: 1px solid black;
  height: 500px;
} */

/* ----------
Column styling
---------- */

#profile{
  width: 20%;
  border: black 1px solid;
  margin: 3%;
  padding: 4px;
  border-color: #2E3239;
}

#avatar{
  width: 150px;
  height: 150px;
  display: block;
  border: 1px solid black;
  border-radius: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}


#profile-name{
  text-align: center;
  margin-bottom: 15px;
}

#username{
  font-size: 15px;
  margin-top: -10px;
  text-align: center;
}

#profile-bio{
  font-size: 12px;
}

#follower-row{
  font-size: 10px;
}

#social-info{
  font-size: 12px;
}

#social-list{
  list-style-type: none;
  padding-left: 10px;
}


#profile-btnrow{
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  
}

.user-btn{
  padding: 2px 5px 2px 5px;
  border-radius: 8px;
  background-color: #5F7ADB;
  color: #EBF0FD;
  margin-bottom: 3px;
}


/* ------------ */

/* footer {
  width: 100%;
  height: 40px;
  background: rgb(60, 66, 70);
  background: rgb(224, 215, 215);
} */


.btn-container {
  display: inline-flex;
  justify-content: space-around;
  border: black 1px solid;
  margin-top: 5%;
  padding: 3%;
}

button {
  width: 20%;
}

/* **** PROJECT BOARD STYLING **** */

.project-board {
  margin-left: 1.5%;
  color: white;
}


/* **** FORM STYLING **** */

.form-title {
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 1.5%;
  color: white;
}

.text-area {
  margin-left: 2%;
}

#createProjectButton {
  margin-left: 2%;
  margin-bottom: 5%;
  height: auto;
}

/* style="margin-left: 10px; height: 30px" */


/* Repo board styling */

#repo-list{
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  
}

.flex {
  display: flex;
  flex-basis: 100%;
  color: #A2B2EE
}

/* Not Sure What These Are For */

/* .hide{
  display: none;
} */

/* #renderedProjectCards {
  display: flex;
  flex-flow: wrap row;
}

#renderedProjectCards {
  display: flex;
  justify-content: space-evenly;
} */

/* .list-group-item{
  background-color: transparent;
} */

/* footer styling */
footer{
  display: flex;
  width: 100%;
}

 #footer-list{
  width: 100%;
list-style-type: none;
display: flex;
flex-flow: row nowrap;
justify-content: space-around;
}

.copyright {
  background-color: #26292B;
  margin-left: 2%;
  width: 10%;
}
hr{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}



#flexCardContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
