body{
  background-color: #5a6773;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box
}
body {
  margin: 0
}
.flex {
  display: flex;
  flex-basis: 100%;
}
.fl {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin: 0 5px; this is the original styling */
  margin-right: 10%;
  width: 90%;
  justify-content: space-between;
}
.flex-item {
  border: 1px solid black;
}
.flex-item:not(:first-of-type) {
  margin: 2% 0 0;
}
/* .sidebar {
  border: 1px solid black;
  height: 500px;
} */

/* ----------
Column styling
---------- */

#profile{
  width: 20%;
  border: black 1px solid;
  margin: 5%;
  padding: 4px;
}

#avatar{
  width: 150px;
  height: 150px;
  display: block;
  border: 1px solid black;
  border-radius: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}

#profile-name{
  text-align: center;
  margin-bottom: 15px;
}

#username{
  font-size: 15px;
  margin-top: -10px;
}

#profile-bio{
  font-size: 12px;
}

#follower-row{
  font-size: 10px;
}

#profile-btnrow{
  font-size: 10px;
  display: flex;
  justify-content: space-around;
  
}

.user-btn{
  padding: 2px 5px 2px 5px;
  border-radius: 8px;
  background-color: #49535d;
  color: white;
  margin-bottom: 3px;
}

#social-info{
  font-size: 12px;
}

#social-list{
  list-style-type: none;
  padding-left: 10px;
}

/* ------------ */

footer {
  width: 100%;
  height: 40px;
  background: rgb(60, 66, 70);
  background: rgb(224, 215, 215);
}
.footer ul{
  display: flex;
  }
.footerLinks ul li {
    display: inline-block;
}

.footerLinks {
    float:inline-start;
}

.copyright {
    float: left;
}

.btn-container {
  display: inline-flex;
  justify-content: space-around;
  border: black 1px solid;
  margin-top: 5%;
  padding: 3%;
}

button {
  width: 20%;
}

/* **** PROJECT BOARD STYLING **** */

.project-board {
  margin-left: 1.5%;
  color: white;
}


/* **** FORM STYLING **** */

.form-title {
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 1.5%;
  color: white;
}

.text-area-labels {
  margin-left: 2%;
  color: white;
}

.text-area {
  margin-left: 2%;
}

#createProjectButton {
  margin-left: 2%;
  margin-bottom: 5%;
  height: auto;
}

/* style="margin-left: 10px; height: 30px" */


/* Repo board styling */

#repo-list{
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  
}

.list-group-item{
  background-color: transparent;
}

.repo-fav{
  position: absolute;
  right: 0;
  top: 20%;
}

#renderedProjectCards {
  display: flex;
  justify-content: space-evenly;
}

.card-body {
  border: 2px solid black;
  height: 75%;
  background-color: white;
}

.btn-warning {
  width: 10rem;
  font-weight: bold;
}

#renderedProjectCards {
  display: flex;
  flex-flow: wrap row;
}

.overview-card {
  width: 31%;
  margin: 1%;
}

#packagesContainer{
  display: flex ;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.packages-cards{
  width: 31%;
  margin: 1%;
}
